:root {
    --text-color: #667085;
    --main-color: #8E2424;
}
body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    width: 100%;
    
}

nav {
    width: 100%;
    height: 80px;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
}

a:visited{
    color: var(--text-color)
}

nav h1 {
    position: absolute;
    left: 112px;
    top: 26.5px;
    vertical-align: top;
}

.itens  li{
    line-height: 24px;
    padding-right: 32px;
    color: var(--text-color);
}

nav ul {
    position: absolute;
    top: 28px;
    left: 379px;
}

.login {
    position: absolute;
    top: 18px;
    left: 80%;
    font-size: 16px;
    line-height: 44px;
    font-weight: 500;
    color: var(--text-color);
    cursor: pointer;
    
}

.login button {
    height: 44px;
    border: none;
    border-radius: 8px;
    background-color: #8e2424;
    color: #fff;
    width: 112px;
    padding: 10px 18px;
    font-size: 16px;
    margin-left: 30px;
    cursor: pointer;

}

.cabecalho  {
    width: 100%;
    height: 407px;
    padding-top: 96px;
    text-align: center;  
}

.cabecalho span  { 
    color:var(--main-color);
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;   
  
}

.cabecalho h1 {
    width: 100%;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #101828;
    margin: 24px 0px 36px;
   
}

.cabecalho p {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-color);
}

/* Metricas */

.metrica {
    text-align: center;
    padding-left: 112px;
}

.metrica li {
    display: inline-block;
    width: 20%;
    padding-left: 32px;
    padding-bottom: 96px;
    text-align: justify;
    vertical-align: top;
}

.metrica h2 {
    line-height: 72px;
    font-weight: 600;
    font-size: 60px;
    color: var(--main-color);
    
}

.titulo-metrica {
    color: #101828;
    line-height: 28px;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 0 8px;
}

.texto-metrica {
    width: 288px;
    color: var(--text-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}