body {
    font-family: 'Inter', sans-serif;
}

.caixa {
    position: relative;
    width: 1300px;
    margin: auto;
    height: 80px;
    padding-left: 147px;
}
.caixa h1 {
    position:absolute;
    top: 32px;
}

nav {
    display: inline;
    position: absolute;
    top: 26px;
    line-height: 24px;
    left: 379px;
}
nav a {
    text-decoration: none;
}

.itens  li{
    padding-right: 32px;
}

nav ul {
    display: inline;
   
}

nav li {
    display: inline;
}

.login {
    position: relative;
    left: 350px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #667085;
    
}

.login button {
    height: 44px;
    border: none;
    border-radius: 8px;
    background-color: #8e2424;
    color: #fff;
    width: 112px;
    padding: 10px 18px;
    font-size: 16px;
    margin-left: 30px;

}